<h1>Card</h1>

{{#if products.length}}
    <div id="card">
        <table>
            <thead>
                <tr>
                    <th>Product name</th>
                    <th>Cout</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{count}}</td>
                    <td>
                        <button class="btn btn-small js-del-product" 
                            data-id="{{id}}"
                            data-csrf="{{@root.csrf}}"
                        >Delete</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <p>Total price: <span class="price">{{price}}</span></p>

        <form action="/orders" method="POST">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit" class="btn">Order</button>
        </form>
    </div>
{{else}}
    <p>You don't choose any products</p>
{{/if}}